h2{
    color:red;
}
#idh3{
    color:green;
}
.classh4{
    color:blue;
}
.h4s , .h4ss{
    color:red;
}
#hd>span{
    color:blue;
}
#hd p{
    color:red;
}
a:link{
    color:blue;
}
#div{
    border:1px solid red;
    color: #0656C1;
}
.div1{
    border:1px solid blue;
    width:300px;
    height:30px;
    overflow:auto;
}
.div2{
    border:1px solid red;
    padding: 10px;
    margin: 30px;
    background-color: green;
}
.div3{
    border:1px solid red;
    padding-top:30px;
    margin-left:20px;
}
.div4{
    background-color: red;
}
body{
    background-image:url('../img/test.jpeg');
    background-repeat: repeat;
    background-attachment: fixed;
}
.div5{
    border:1px solid red;
    padding:10px;
    margin: 20px 500px;
    width:600px;
    height:450px;
    background-image:url('../img/div.jpg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
}
.div6{
    border:1px solid blue;
    padding:10px 30px;
    margin:20px 50px;
    background-color:green;
    font-family: '微软雅黑','黑体';
    font-size: 15px;
    text-indent: 2em;
}
.div6 span{
    color: red;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.6em;
}

table{
    width:200px;
    border:1px solid red;
    padding:20px;
    margin: 20px;
    border-collapse: collapse;
}

