<!DOCTYPE html>
<html lang="en" ng-app="uiSelectDemoApp">
<head>
    <meta charset="UTF-8">
    <title>select2指令Demo</title>
    <link rel="stylesheet" href="../styles/common/jquery-ui.css">
    <link rel="stylesheet" href="../styles/common/heren-v1.css">
    <link rel="stylesheet" href="../styles/common/heren-select2.css">
    <link rel="stylesheet" href="../styles/common/ng-grid.css">
    <link rel="stylesheet" href="../styles/common/heren-datepicker.css">
    <link rel="stylesheet" href="../styles/common/heren-component.css">
</head>
<body ng-controller="uiSelectDemoController">
<header class="hc-search-area form-horizontal">
    <div class="control-group label-five">
        <label class="control-label">select</label>

        <div class="controls">
            <select ui-select2="selectOneOpts" ng-model="oneSelect" placeholder="请选择">
                <option></option>
                <option ng-repeat="one in SelectDate" value="{{one.code}}" code="{{one.code}}"
                        ng-bind="one.name"></option>
            </select>
            {{oneSelect}}
        </div>
    </div>
    <div class="control-group label-five">
        <label class="control-label">input</label>

        <div class="controls">
            <input type="text" ui-select2="selectTwoOpts" ng-model="towSelect" placeholder="请选择"/>
            {{towSelect}}
        </div>
    </div>
    <div>
        <div class="control-group label-five">
            <label class="control-label">data属性</label>

            <div class="controls">
                <input type="text" ui-select2="selectThreeOpts" ng-model="threeSelect" placeholder="请选择"/>
                {{threeSelect}}
            </div>
        </div>
        <div class="control-group label-five">
            <label class="control-label">copy Me!</label>

            <div class="controls">
                <input type="text" ui-select2="selectFourOpts" ng-model="fourSelect"/>
                {{fourSelect}}
            </div>
        </div>
    </div>
</header>
<section>

</section>
<footer class="content-footer content-footer-border btn-center">

</footer>
<script src="../javascripts/libs/jquery.js"></script>
<script src="../javascripts/libs/select2.js"></script>
<script src="../javascripts/libs/select2_locale_zh-CN.js"></script>
<script src="../javascripts/libs/bootstrap.js"></script>
<script src="../javascripts/libs/jquery-ui.js"></script>
<script src="../javascripts/libs/jquery-ui-timepicker-addon.js"></script>
<script src="../javascripts/libs/jquery-ui-timepicker-zh-CN.js"></script>
<script src="../javascripts/libs/angular.js"></script>
<script src="../javascripts/libs/angular-ui.js"></script>
<script src="../javascripts/libs/ui-bootstrap-tpls.js"></script>
<script src="../javascripts/libs/ng-grid.js"></script>
<script src="../javascripts/libs/mousetrap.js"></script>
<script src="../javascripts/libs/mousetrap-global.js"></script>
<script src="../javascripts/common/utils.js"></script>
<script src="../javascripts/common/heren-ui.js"></script>

<script src="../javascripts/company/ui-select2-directive-demo.js"></script>
</body>
</html>