<!DOCTYPE html>
<html ng-app="myFilterApp">
<head>
    <meta charset="UTF-8">
    <title>filter过滤器</title>
    <style>
        .not-line{
            display: inline-block;
        }
        .not-margin{
            margin:0px;
        }
    </style>
</head>
<body >
<div ng-controller="myFilterController">
    <div>
        <h3 class="not-line not-margin">默认numberFilter</h3>&nbsp;
        <span ng-bind="123456789 | number"></span>
    </div>
    <div>
        <h3 class="not-line not-margin">带参数number指定小数点后几位，多了进行四舍五入</h3>&nbsp;
        <span ng-bind="12345.6789 | number:3"></span>
    </div><hr>
    <div>
        <h3 class="not-line not-margin">带参数currency格式化样式</h3>&nbsp;
        <span ng-bind="123456 | currency:'RMB'"></span>
    </div><hr>
    <div>
        <h3 class="not-line not-margin">默认dateFilter:</h3>&nbsp;
        <span ng-bind="date | date"></span>
    </div>
    <div>
        <h3 class="not-line not-margin">带参数date"yyyy-MM-dd HH:mm:ss":</h3>&nbsp;
        <span ng-bind="date | date:'yyyy-MM-dd HH:mm:ss'"></span><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">lowercase小写:</h3>&nbsp;
        <span ng-bind="message|lowercase"></span>
    </div>
    <div>
        <h3 class="not-line not-margin">uppercase大写:</h3>&nbsp;
        <span ng-bind="message|uppercase"></span><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">limitTo:5 截取:</h3>&nbsp;
        <span ng-bind="[1,2,3,5,6,4,6,7,9]|limitTo:5"></span><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">orderBy:指定降序字段 截取:</h3>&nbsp;
        <ul ng-repeat="data in care|orderBy:'py'">
            <span ng-bind="data.name"></span>
            <span ng-bind="data.py"></span>
        </ul><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">filter:'太原' name查找:</h3>&nbsp;
        <span>{{care|filter:"太原"}}</span><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">filter:'p' py查找:</h3>&nbsp;
        <input ng-model="py"/>
        <p>{{care|filter:py}}</p><hr>
    </div>
    <div>
        <h3 class="not-line not-margin">filter:'山西' 对象查找:</h3>&nbsp;
        <span>对象查找：{{care|filter:{name:"山西"} }}</span>
    </div>
</div>
<script type="text/javascript" src="../javaScripts/libs/angular.js"></script>
<script type="text/javascript" src="../javaScripts/basis/filter.js"></script>
</body>
</html>